 
        $box-width: 50px;
$box-height: 50px;
$box-radius: 4px;
$box-margin: 5px;
$box-background:#776E65;
$border-color:#BBADA0;
$box-border-width:3px;
$root-background:#FAF8EF;


html, body {  
  margin: 0;
  padding: 0;
  background: $root-background;  
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}

.main-contain{
  text-align:center;
}


.title{
  font-weight: bold;
  text-align:center;
  .box-score{
    width:$box-width;
  height:$box-height;
  background:$border-color;
  border-color:$border-color;
  border-width:$box-border-width;
  border-style:solid;
  border-radius: $box-radius;
  display:inline-block;
  }
}

.box-body{
    border-color:$border-color;
    border-width:$box-border-width;
    border-style:solid;
    border-radius: $box-radius;
     display:table;
    text-align:center;
    display:inline-block;
}

.box{
    width: $box-width;
    height: $box-height;
    background: $box-background; 
    text-align:center;
    float: left;
        
    border-color:$border-color;
    border-width:$box-border-width;
    border-style:solid;
    
    display: table-cell;
}

.box-row{
  text-align:center;    
  display: table-row;
  &:after {
      content: "";
      display: block;
      clear: both;
    }
}
    